<span class="kiwix">
  <span id="kiwixtoolbar" class="ui-widget-header">
    <div class="kiwix_centered">
      <div class="kiwix_searchform">
        <form class="kiwixsearch" method="GET" action="{{root}}/search" id="kiwixsearchform">
          {{#hascontent}}<input type="hidden" name="content" value="{{content}}" />{{/hascontent}}
          <label for="kiwixsearchbox">&#x1f50d;</label>
          <input autocomplete="off" class="ui-autocomplete-input" id="kiwixsearchbox" name="pattern" type="text" title="{{{SEARCHBOX_TOOLTIP}}}" aria-label="{{{SEARCHBOX_TOOLTIP}}}" accesskey="s">
        </form>
      </div>
        <input type="checkbox" id="kiwix_button_show_toggle">
        <label for="kiwix_button_show_toggle"><img src="{{root}}/skin/caret.png?KIWIXCACHEID" alt=""></label>
        <div class="kiwix_button_cont">
          {{#withlibrarybutton}}
            <a id="kiwix_serve_taskbar_library_button" title="{{{LIBRARY_BUTTON_TEXT}}}" aria-label="{{{LIBRARY_BUTTON_TEXT}}}" href="{{root}}/"><button accesskey="w">&#x1f3e0;</button></a>
          {{/withlibrarybutton}}
          {{#hascontent}}
          <a id="kiwix_serve_taskbar_home_button" title="{{{HOME_BUTTON_TEXT}}}" aria-label="{{{HOME_BUTTON_TEXT}}}" href="{{root}}/{{content}}/"><button accesskey="n">{{title}}</button></a>
          <a id="kiwix_serve_taskbar_random_button" title="{{{RANDOM_PAGE_BUTTON_TEXT}}}" aria-label="{{{RANDOM_PAGE_BUTTON_TEXT}}}"
            href="{{root}}/random?content={{#urlencoded}}{{{content}}}{{/urlencoded}}"><button accesskey="d">&#x1F3B2;</button></a>
          {{/hascontent}}
        </div>
    </div>
  </span>
</span>
